header, nav, main, footer { display: block; }

.wrapper {
	width: 80%;
	min-width: 700px;
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
	background-color: #90C7E3;
}

body {
	background-image: url("background.jpg");
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
}

header {
	background-color: #000033;
	color: #ffffff;
	font-family: Georgia, serif;
}

h1 {
	line-height: 200%;
	background-image: url("sunset.jpg");
	background-position: right center;
	background-repeat: no-repeat;
	height: 72px;
	padding-left: 20px;
	margin-bottom: 0;
}

nav {
	font-weight: bold;
	padding: 20px 5px 0px 20px;
	float: left;
	width: 160px;
}

nav ul {
	list-style-type: none; 
	margin:0; 
	padding-left:0; 
}

nav a{
	text-decoration: none;
}

nav a:link{
	color: #000033;

}

nav a:visited{
	color: #344873;

}

nav a:hover{
	color: #FFFFFF;

}

main {
	padding: 1px 0px 1px 0px;
	margin-left: 170px;
	background-color: #ffffff;
}

main img { 
	float: left;
	padding-right: 20px;
	padding-bottom: 20px; 
}

main ul {
	list-style-position: inside; 
}

h2 {
	color: #3399cc;
	font-weight: bold;
}

h3 {
	color: #000033;
}


dt {
	color: #000033;
	font-weight: bold;
}

.resort {
	color: #000033;
	font-size: 1.2em;
}

.clear {
	clear: both;
	padding-left: 15px;
	
}

footer {
	background-color: #ffffff;
	margin-left: 170px;
	font-size: .7em;
	font-style: italic;
	text-align: center;
	padding: 10px 10px 10px 10px;
}

#mobile { display: none; } 
#desktop { display: inline; }

@media screen and (max-width: 1024px) {
    body {
        background-image: none;
    }

    .wrapper{
    	width: auto;
    	min-width: 0;
    	margin: 0;
    	box-shadow: none;
    }

    h1{
    	margin: 0;
    }

    nav {
    	float: none;
    	width: auto;
    	padding: .5em;
    }

    nav li {
    	display: inline-block;
    }

    nav a {
    	padding: 1em;
    }

    main {
    	padding: 1em;
    	margin-left: 0;
    	font-size: 90%;
    }

    footer {
    	margin:  0;
    }
}

@media screen and (max-width: 768px) {
	h1 {
		height: 100%;
		font-size: 1.5em;
		padding-left: .3em;
	}

	nav {
		padding: 0;
	}

	nav a {
		display: block;
		padding: .2em;
		font-size: 1.3em;
		border-bottom: 1px solid #330000;
	}

	nav ul {
		margin: 0;
		padding: 0;
	}

	nav li {
		display: block;
		margin: 0;
		padding: 0;
	}

	main {
		padding: .1em 0 .1em .4em;
	}

	main img{
		display: none;
		padding-right: 0;
	}

	main ul{
		list-style-position: outside;
	}

	footer {
		padding: 0;
	}

	#mobile { display: inline; } #desktop { display: none; }

}

table {
	vertical-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #3399cc;
	width: 90%;
	border-collapse: collapse;
}

td, th {
	padding: 5px;
	border: 1px solid #3399cc;
}

td {
	text-align: center;
}

.text {
	text-align: left;
}

tr:nth-of-type(2n){
	background-color: #F5FAFC;

}



